<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/assets/images/common_img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/dist/mixin.css" />
    <link rel="stylesheet" href="/dist/reset.css" />
    <link rel="stylesheet" href="/dist/nav.css" />
    <link rel="stylesheet" href="/dist/dino_page.css" />
    <link rel="stylesheet" href="/dist/other_animals.css" />
    <link rel="stylesheet" href="/dist/footer.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>

    <title>Стародавні тварини</title>
  </head>

  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav__content">
          <a href="index.html" class="nav__content--logo"></a>
          <div class="nav__content--links">
            <ul class="nav__content--links__ul">
              <li class="nav__content--links__li">
                <a
                  href="layouts/dino_page/dino_page.html"
                  class="nav__content--links__text"
                  >Динозаври</a
                >
              </li>
              <li class="nav__content--links__li">
                <a href="#" class="nav__content--links__text--active"
                  >Інші стародавні тварини</a
                >
              </li>
              <li class="nav__content--links__li">
                <a
                  href="layouts/news_page/news.html"
                  class="nav__content--links__text"
                  >Новини</a
                >
              </li>
            </ul>
          </div>

          <div class="nav__content--language">
            <a
              href="index.html"
              class="nav__content--language__en"
              id="en"
            ></a>
            <a
              href="index.html"
              class="nav__content--language__ua--active"
              id="ua"
            ></a>
            <a
              href="index.html"
              class="nav__content--language__ru"
              id="ru"
            ></a>
          </div>
        </div>
      </nav>

      <main class="main">
        <div class="main__box" style="padding-bottom: 40px;">
          <div class="main__box--text">
            <h2 class="main__box--text__header">Мамонт</h2>
            <p class="main__box--text__paragraph">
              Залишки вимерлих живих істот завжди вражали людей своїми розмірами
              й дивними виглядом. Однак протягом століть походження скам'янілих
              кісток і зубів залишалися нерозв'язаною загадкою. Навіть серйозні
              вчені в 17-18 ст. уважали кістки динозаврів і навіть мамонтів
              останками легендарних драконів або людей велетеньского зросту.
              Популярною була версія, що скам'янілості - це скелети тварин, які
              жили на Землі до Всесвітнього потопу, описаного в Біблії. І лише
              на початку 19 ст. картина поступово почала прояснюватися: було
              встановлено, що йдеться про живих істот дуже віддалених епох, які
              разюче відрізнялися від сучасної фауни.
            </p>
            <div class="main__box--text__buttons">
              <a
                href=""
                class="main__box--text__buttons--first_button"
                >Дізнатись більше</a
              >
              <a
                href="https://www.youtube.com/watch?v=4uoY5A9gp6Q"
                class="main__box--text__buttons--symbol main__box--text__buttons--second_button"
                >Переглянути відео</a
              >
            </div>
          </div>
          <img
            class="main__box--img"
            src="assets/images/other_ancient_animals_page/mamont_img.png"
            alt="mamont"
          />
        </div>
      </main>

      <footer class="footer">
        <div class="footer__content">
          <a href="#" class="footer__content--logo"></a>
          <div class="footer__content--block">
            <ul class="footer__content--list">
              <li>
                <a href="layouts/dino_page/dino_page.html" class="footer__content--list__link">Динозаври</a>
              </li>
              <li>
                <a href="layouts/other_animals/other_animals.html" class="footer__content--list__link"
                  >Стародавні тварини</a
                >
              </li>
              <li>
                <a href="layouts/news_page/news.html" class="footer__content--list__link">Новини</a>
              </li>
            </ul>

            <ul class="footer__content--list">
              <li>
                <a href="#" class="footer__content--list__link">Disclaimer</a>
              </li>
              <li>
                <a href="#" class="footer__content--list__link">Financing</a>
              </li>
              <li>
                <a href="#" class="footer__content--list__link"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a href="#" class="footer__content--list__link"
                  >Terms of Service</a
                >
              </li>
            </ul>

            <div class="footer__content--social-buttons">
              <a
                href="https://www.facebook.com/volodymyr.viatrovych"
                class="social-buttons__button social-button social-button--facebook"
                aria-label="Facebook"
              >
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                href="https://github.com/IYURA2006"
                class="social-buttons__button social-button social-button--github"
                aria-label="LinkedIn"
              >
                <i class="fab fa-github"></i>
              </a>
              <a
                href="https://www.instagram.com/zelenskiy_official/?hl=uk"
                class="social-buttons__button social-button social-button--instagram"
                aria-label="SnapChat"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </div>

            <div class="footer__content--info">
              © 201-2022 DINOSAURS.org.ua<br /><small
                >При використанні матеріалів сайту активне посилання на сайт
                обов'язкова</small
              >
            </div>
          </div>

          <form class="footer__content--responce">
            <!-- Hidden Required Fields -->
            <input type="hidden" name="project_name" value="DINOSAURS" />
            <input
              type="hidden"
              name="admin_email"
              value="yurchyk2906@gmail.com"
            />
            <input type="hidden" name="form_subject" value="footer form" />
            <!-- END Hidden Required Fields -->

            <div class="footer__content--responce__form-inner">
              <h3 class="footer__content--responce__form-inner--header">
                Повідомте про помилки
              </h3>
              <input
                name="E-mail"
                value=""
                class="footer__content--responce__form-inner--input"
                type="email"
                placeholder="Email"
                required
              />
              <textarea
                name="Message"
                class="footer__content--responce__form-inner--textarea"
                placeholder="Повідомлення..."
                rows="3"
                required
                minlength="10"
              ></textarea>
              <button
                class="footer__content--responce__form-inner--button"
                type="submit"
                value="Надіслати"
              >
                <i class="fas fa-arrow-alt-circle-right"></i>
              </button>
            </div>
          </form>
        </div>
      </footer>
    </div>

    <script src="assets/js/main.js"></script>
    <script src="assets/js/language.js"></script>
  </body>
</html>
