<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/common_img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/assets/images/common_img/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/dist/mixin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>

    <link rel="stylesheet" href="dist/reset.css" />
    <link rel="stylesheet" href="dist/nav.css" />
    <link rel="stylesheet" href="dist/news.css" />
    <link rel="stylesheet" href="dist/footer.css" />

    <title>Стародавні тварини</title>
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav__content">
          <a href="index.html" class="nav__content--logo"></a>
          <div class="nav__content--links">
            <ul class="nav__content--links__ul">
              <li class="nav__content--links__li">
                <a
                  href="layouts/dino_page/dino_page.html"
                  class="nav__content--links__text"
                  >Динозаври</a
                >
              </li>
              <li class="nav__content--links__li">
                <a href="layouts/other_animals/other_animals.html" class="nav__content--links__text"
                  >Інші стародавні тварини</a
                >
              </li>
              <li class="nav__content--links__li">
                <a
                  href="layouts/news_page/news.html"
                  class="nav__content--links__text--active"
                  >Новини</a
                >
              </li>
            </ul>
          </div>

          <div class="nav__content--language">
            <a href="index.html" class="nav__content--language__en"></a>
            <a
              href="index.html"
              class="nav__content--language__ua--active"
            ></a>
          </div>
        </div>
      </nav>

      <main class="main">
        <div class="main__content">
          <div class="box">
            <a href="#">
              <img
                src="assets/images/news_page/bg_box.jpg"
                class="box__img"
                alt="bg_box"
              />
              <h4 class="box__header">
                <span class="box__date">
                  <span class="box__date_number">14</span>
                  <span class="box__date_month">СІЧ</span>
                </span>
              </h4>
              <span class="box__title">Нові розкопки у Китаї</span>
              <span class="box__paragraph"
                >У Китаї розкопали рідкісного динозавра віком 70 мільйонів
                років</span
              >
              <span class="box__publishing">15:07</span>
            </a>
          </div>

          <div class="box">
            <a href="#">
              <img
                src="assets/images/news_page/bg_box.jpg"
                class="box__img"
                alt="bg_box"
              />
              <h4 class="box__header">
                <span class="box__date">
                  <span class="box__date_number">13</span>
                  <span class="box__date_month">СІЧ</span>
                </span>
              </h4>
              <span class="box__title">Нові розкопки у Китаї</span>
              <span class="box__paragraph"
                >У Китаї розкопали рідкісного динозавра віком 70 мільйонів
                років</span
              >
              <span class="box__publishing">12:01</span>
            </a>
          </div>


          <div class="box">
            <a href="#">
              <img
                src="assets/images/news_page/bg_box.jpg"
                class="box__img"
                alt="bg_box"
              />
              <h4 class="box__header">
                <span class="box__date">
                  <span class="box__date_number">12</span>
                  <span class="box__date_month">СІЧ</span>
                </span>
              </h4>
              <span class="box__title">Нові розкопки у Китаї</span>
              <span class="box__paragraph"
                >У Китаї розкопали рідкісного динозавра віком 70 мільйонів
                років</span
              >
              <span class="box__publishing">9:27</span>
            </a>
          </div>


          <div class="box">
            <a href="#">
              <img
                src="assets/images/news_page/bg_box.jpg"
                class="box__img"
                alt="bg_box"
              />
              <h4 class="box__header">
                <span class="box__date">
                  <span class="box__date_number">11</span>
                  <span class="box__date_month">СІЧ</span>
                </span>
              </h4>
              <span class="box__title">Нові розкопки у Китаї</span>
              <span class="box__paragraph"
                >У Китаї розкопали рідкісного динозавра віком 70 мільйонів
                років</span
              >
              <span class="box__publishing">18:33</span>
            </a>
          </div>


          <div class="box">
            <a href="#">
              <img
                src="assets/images/news_page/bg_box.jpg"
                class="box__img"
                alt="bg_box"
              />
              <h4 class="box__header">
                <span class="box__date">
                  <span class="box__date_number">10</span>
                  <span class="box__date_month">СІЧ</span>
                </span>
              </h4>
              <span class="box__title">Нові розкопки у Китаї</span>
              <span class="box__paragraph"
                >У Китаї розкопали рідкісного динозавра віком 70 мільйонів
                років</span
              >
              <span class="box__publishing">11:21</span>
            </a>
          </div>


          <div class="box">
            <a href="#">
              <img
                src="assets/images/news_page/bg_box.jpg"
                class="box__img"
                alt="bg_box"
              />
              <h4 class="box__header">
                <span class="box__date">
                  <span class="box__date_number">9</span>
                  <span class="box__date_month">СІЧ</span>
                </span>
              </h4>
              <span class="box__title">Нові розкопки у Китаї</span>
              <span class="box__paragraph"
                >У Китаї розкопали рідкісного динозавра віком 70 мільйонів
                років</span
              >
              <span class="box__publishing">14:42</span>
            </a>
          </div>

        </div>
      </main>

      <footer class="footer">
        <div class="footer__content">
          <a href="#" class="footer__content--logo"></a>
          <div class="footer__content--block">
            <ul class="footer__content--list">
              <li>
                <a href="layouts/dino_page/dino_page.html" class="footer__content--list__link">Динозаври</a>
              </li>
              <li>
                <a href="layouts/other_animals/other_animals.html" class="footer__content--list__link"
                  >Стародавні тварини</a
                >
              </li>
              <li>
                <a href="layouts/news_page/news.html" class="footer__content--list__link">Новини</a>
              </li>
            </ul>

            <ul class="footer__content--list">
              <li>
                <a href="#" class="footer__content--list__link">Disclaimer</a>
              </li>
              <li>
                <a href="#" class="footer__content--list__link">Financing</a>
              </li>
              <li>
                <a href="#" class="footer__content--list__link"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a href="#" class="footer__content--list__link"
                  >Terms of Service</a
                >
              </li>
            </ul>

            <div class="footer__content--social-buttons">
              <a
                href="https://www.facebook.com/volodymyr.viatrovych"
                class="social-buttons__button social-button social-button--facebook"
                aria-label="Facebook"
              >
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                href="https://github.com/IYURA2006"
                class="social-buttons__button social-button social-button--github"
                aria-label="LinkedIn"
              >
                <i class="fab fa-github"></i>
              </a>
              <a
                href="https://www.instagram.com/zelenskiy_official/?hl=uk"
                class="social-buttons__button social-button social-button--instagram"
                aria-label="SnapChat"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </div>

            <div class="footer__content--info">
              © 201-2022 DINOSAURS.org.ua<br /><small
                >При використанні матеріалів сайту активне посилання на сайт
                обов'язкова</small
              >
            </div>
          </div>

          <form class="footer__content--responce">
            <!-- Hidden Required Fields -->
            <input type="hidden" name="project_name" value="DINOSAURS" />
            <input
              type="hidden"
              name="admin_email"
              value="yurchyk2906@gmail.com"
            />
            <input type="hidden" name="form_subject" value="footer form" />
            <!-- END Hidden Required Fields -->

            <div class="footer__content--responce__form-inner">
              <h3 class="footer__content--responce__form-inner--header">
                Повідомте про помилки
              </h3>
              <input
                name="E-mail"
                value=""
                class="footer__content--responce__form-inner--input"
                type="email"
                placeholder="Email"
                required
              />
              <textarea
                name="Message"
                class="footer__content--responce__form-inner--textarea"
                placeholder="Повідомлення..."
                rows="3"
                required
                minlength="10"
              ></textarea>
              <button
                class="footer__content--responce__form-inner--button"
                type="submit"
                value="Надіслати"
              >
                <i class="fas fa-arrow-alt-circle-right"></i>
              </button>
            </div>
          </form>
        </div>
      </footer>
    </div>
    <script src="/js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/fcc11c67f1.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
