<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/common_img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/assets/images/common_img/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="dist/mixin.css" />
    <link rel="stylesheet" href="dist/reset.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>

    <link rel="stylesheet" href="dist/reset.css" />
    <link rel="stylesheet" href="dist/nav.css" />
    <link rel="stylesheet" href="dist/dino_page.css" />
    <link rel="stylesheet" href="dist/footer.css" />

    <title>Стародавні тварини</title>
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav__content">
          <a href="index.html" class="nav__content--logo"></a>
          <div class="nav__content--links">
            <ul class="nav__content--links__ul">
              <li class="nav__content--links__li">
                <a
                  href="layouts/dino_page/dino_page.html"
                  class="nav__content--links__text--active"
                  >Динозаври</a
                >
              </li>
              <li class="nav__content--links__li">
                <a href="layouts/other_animals/other_animals.html" class="nav__content--links__text"
                  >Інші стародавні тварини</a
                >
              </li>
              <li class="nav__content--links__li">
                <a href="layouts/news_page/news.html" class="nav__content--links__text">Новини</a>
              </li>
            </ul>
          </div>

          <div class="nav__content--language">
            <a href="index.html" class="nav__content--language__en"></a>
            <a href="index.html" class="nav__content--language__ua--active"
              ></a
            >
          </div>
        </div>
      </nav>

      <main class="main">
        <div class="main__box">
          <div class="main__box--text">
            <h2 class="main__box--text__header">Тиранозавр</h2>
            <p class="main__box--text__paragraph">
              Коли в 1902 р. було виявлено повний скелет тираннозавра, учені
              вжахнулися, усвідомивши, що за чудовсько вони відкрили. Нічого
              подібного динозаврологія досі не знала досі не знала. Величезна
              голова монстра мала понад півтора метра завдовжки, а зуби, що
              досягали розмірів 20 см були, гострими, як бритва, й мали
              конусоподібну форму. Протягом майже всього 20ст. тираннозавр
              уважався найбільшою м'ясоїдною тваринноюю Однак знайдені в
              Південній Америці й в Африці скам'янілості показали, що в мезозої
              на нашій планеті існували й більші за розмірами хижаки...
            </p>
            <div class="main__box--text__buttons">
              <a
                href="layouts/dino_page/tyrranosaurs.html"
                class="main__box--text__buttons--first_button"
                >Дізнатись більше</a
              >
              <a
                href="https://www.youtube.com/watch?v=EvuPpEbra7k"
                class="main__box--text__buttons--symbol main__box--text__buttons--second_button"
                >Переглянути відео</a
              >
            </div>
          </div>
          <img
            class="main__box--img"
            src="assets/images/dinosavrs_page//tiranosavr/tiranosavr.png"
            alt="Tyrranosaurs"
          />
        </div>

        <div class="main__box">
          <img
            class="main__box--img"
            src="assets/images/dinosavrs_page/duplodk.png"
            alt="Tyrranosaurs"
          />
          <div class="main__box--text">
            <h2 class="main__box--text__header">Диплодок</h2>
            <p class="main__box--text__paragraph">
              Диплодок - один із найбільших відомих і багато в чому незвичайних динозаврів. У нього надзвичайно довга шия, крихітна голова й величезне тіло, як і у всіх зауроподів, однак він відрізняється від своїх родичів за цілим рядом ознак. Так, свою назву він отримав від повідйних нижніх остистих відростків хребців ("балок"), яких немає в інших зауроподів. Але головна відмінність полягає в тому, яким чином диплодок за допомогою зубів, щелеп та шиї добував поживу й поглина рослинну їжу...
            </p>
            <div class="main__box--text__buttons">
              <a
                href="pages/dino_page.html"
                class="main__box--text__buttons--first_button"
                >Дізнатись більше</a
              >
              <a
                href="#"
                class="main__box--text__buttons--symbol main__box--text__buttons--second_button"
                >Переглянути відео</a
              >
            </div>
          </div>
        </div>

        <div class="main__box">
          <div class="main__box--text">
            <h2 class="main__box--text__header">Брахіозавр</h2>
            <p class="main__box--text__paragraph">
              Довгий час уважалося, що брахіозавр (Brachiosaurus) був найбільшим
              із будь-коли існуючих динозаврів. Деякі фахівці оцінюють його масу
              В 80 т, тобто щодо цього він міг «перетягнути» на вагах чотири де-
              сятки сучасних слонів! Втім, є й більш помірні оцінки - більшість
              учених схильні до того, що маса брахіозавра не перевищувала
              50 т. Але навіть така цифра вражає: жодна із тварин, які жили будь-
              коли на суші, не в змозі зрівнятися з цим могутнім титаном...
            </p>
            <div class="main__box--text__buttons">
              <a
                href="pages/dino_page.html"
                class="main__box--text__buttons--first_button"
                >Дізнатись більше</a
              >
              <a
                href="#"
                class="main__box--text__buttons--symbol main__box--text__buttons--second_button"
                >Переглянути відео</a
              >
            </div>
          </div>
          <img
            class="main__box--img"
            src="/assets/images/dinosavrs_page/brahiozavr.png"
            alt="brahiozavr"
          />
        </div>
      </main>

      <footer class="footer">
        <div class="footer__content">
          <a href="#" class="footer__content--logo"></a>
          <div class="footer__content--block">
            <ul class="footer__content--list">
              <li>
                <a href="layouts/dino_page/dino_page.html" class="footer__content--list__link">Динозаври</a>
              </li>
              <li>
                <a href="layouts/other_animals/other_animals.html" class="footer__content--list__link"
                  >Стародавні тварини</a
                >
              </li>
              <li>
                <a href="layouts/news_page/news.html" class="footer__content--list__link">Новини</a>
              </li>
            </ul>

            <ul class="footer__content--list">
              <li>
                <a href="#" class="footer__content--list__link">Disclaimer</a>
              </li>
              <li>
                <a href="#" class="footer__content--list__link">Financing</a>
              </li>
              <li>
                <a href="#" class="footer__content--list__link"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a href="#" class="footer__content--list__link"
                  >Terms of Service</a
                >
              </li>
            </ul>

            <div class="footer__content--social-buttons">
              <a
                href="https://www.facebook.com/volodymyr.viatrovych"
                class="social-buttons__button social-button social-button--facebook"
                aria-label="Facebook"
              >
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                href="https://github.com/IYURA2006"
                class="social-buttons__button social-button social-button--github"
                aria-label="LinkedIn"
              >
                <i class="fab fa-github"></i>
              </a>
              <a
                href="https://www.instagram.com/zelenskiy_official/?hl=uk"
                class="social-buttons__button social-button social-button--instagram"
                aria-label="SnapChat"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </div>

            <div class="footer__content--info">
              © 201-2022 DINOSAURS.org.ua<br /><small
                >При використанні матеріалів сайту активне посилання на сайт
                обов'язкова</small
              >
            </div>
          </div>

          <form class="footer__content--responce">
            <!-- Hidden Required Fields -->
            <input type="hidden" name="project_name" value="DINOSAURS" />
            <input
              type="hidden"
              name="admin_email"
              value="yurchyk2906@gmail.com"
            />
            <input type="hidden" name="form_subject" value="footer form" />
            <!-- END Hidden Required Fields -->

            <div class="footer__content--responce__form-inner">
              <h3 class="footer__content--responce__form-inner--header">
                Повідомте про помилки
              </h3>
              <input
                name="E-mail"
                value=""
                class="footer__content--responce__form-inner--input"
                type="email"
                placeholder="Email"
                required
              />
              <textarea
                name="Message"
                class="footer__content--responce__form-inner--textarea"
                placeholder="Повідомлення..."
                rows="3"
                required
                minlength="10"
              ></textarea>
              <button
                class="footer__content--responce__form-inner--button"
                type="submit"
                value="Надіслати"
              ><i class="fas fa-arrow-alt-circle-right"></i></button>
            </div>
          </form>
        </div>
      </footer>
    </div>

    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/fcc11c67f1.js" crossorigin="anonymous"></script>
  </body>
</html>
