<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/common_img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/assets/images/common_img/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="dist/mixin.css" />
    <link rel="stylesheet" href="dist/reset.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>

    <link rel="stylesheet" href="dist/reset.css" />
    <link rel="stylesheet" href="dist/dino_page_characteristic.css" />

    <title>Стародавні тварини</title>
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav__button">
          <i class="fas fa-arrow-left"></i>
          <a href="layouts/dino_page/dino_page.html" class="nav__button--link">
            Назад
          </a>
        </div>
      </nav>

      <h2 class="title">Тиранозавр</h2>

      <header class="header">
        <img
          src="assets/images/dinosavrs_page/tiranosavr/main_foto.png"
          alt="img of dinosaur"
          class="header--img"
        />
        <div class="header__information">
          <h3 class="header__information--header">Короткі відомості:</h3>
          <h4><strong>Рід:</strong> Тиранозавр(Tyrannosaurs)</h4>
          <h4>
            <strong>Класифікація:</strong>
            тероподи<br />целурозаври<br />тираннозавриди
          </h4>
          <h4><strong>Розміри:</strong> 10-14 м завдовжки</h4>
          <h4><strong>Маса:</strong> 4,5 -7 т</h4>
          <h4>
            <strong>Період існування:</strong> пізня крейда, 68-65 млн років
            тому
          </h4>
          <h4>
            <strong>Місце перебування:</strong> Центральна та Західна Канада,
            США
          </h4>
          <img
            src="assets/images/dinosavrs_page//tiranosavr/comparing_tirex.JPG"
            alt="comparing human and dinosaur"
            class="header__information--img"
          />
        </div>
      </header>
      <main class="main">
        <h3>Детальна інформація</h3>
        <div class="main__information">
          <div class="main__information--text">
            <p>
              <span style="font-size: 22px; font-weight: 900; ">Н</span>а відмінну від відносно легких черепів таких
              тероподів, як алозавр, череп тираннозавра складався з товстих,
              надзвичайно масивних кісток. Задня частина черепа тираннозавра дуж
              широка й оснащена отворами й заглибленнями для прикріплення
              величезних щелепних м'язів. Більшість зубів тиранозавра набагато
              ширші, ніж зуби інших м'ясоїдних. Вони мають істотно більшу площу
              й загострену крайку уздовж задього краю. І тільки в передній
              частині щелепи тираннозавра зуби трохи вужчі.
            </p>

            <p>
              <span style="font-size: 19px; font-weight: 600;"> Сліди укусів </span>
              Завдяки характерних рисам будови зубів тираннозавра фахівцям
              удалося відшукати й визначити кілька кісток рослинноїдних
              динозаврів зі слідами укусів лютого хижака. З'ясовалося, що зуби
              тираннозавра працювали зовсім інакше, ніж зуби алозавраЖ вони не
              розрізали м'язи жертви, а пробивали їх наскрізь, після чого
              динозавр одним рухом могутньої шиї просто відривав від здобичі
              шматок. Кістки рослиноїдного динозавра едмонтозавра, що був
              жертвою тираннозавра, мають на собі сліди зубів і глибоких
              прокусів. Вузькі передні зуби в центральній частині щелепи
              тираннозавра саме й призначалися для того, щоб устромити їх у вже
              захоплену й прокушену плоть і вирвати з неї ласий шматок.
            </p>

            <p>
              <span style="font-size: 19px; font-weight: 600;">Пожирач кісток?</span>
              Деякі знахідки дають змогу припустити, що тираннозавр, "гриз
              кістки". У скам'янілої стегнової кістки трицераптоса не вистачає
              солідного шматка. Крім того, виявлені копроліти тираннозаври
              буквально набиті осколками кісток едмонтозавра. Дослідження
              останніх років показали, що сила тиску, який розвивали під час
              укусу зуби тираннозавра, втричі перебільшувала силу щелеп
              сучасного африканського лева.
            </p>

            <p>
              <span style="font-size: 19px; font-weight: 600;"> Стерв'ятник </span>
              Як і багато інших м'ясоїдних динозаврів, тираннозавр не нехтував
              підбирати стерво. Маючи відмінний нюх, тираннозавр легко
              відкушував тіла померлих або загиблих тварин. Як найбільший хижак
              свого часу він міг із легкістю відігнати від здобичі будь-яку іншу
              хижу тварину і спокійно бенкетувати доти, поки поюлизу не
              з'явиться реальний конкурент - інший тираннозавр.
            </p>
          </div>
          <img src="assets/images/dinosavrs_page/tiranosavr/tiranosavr_characteristic.png" alt="skelet tiranosavr">
        </div>

        <div class="main__entertaiment">
          <img src="assets/images/Group 16.png" alt="youtube" style="max-width: 300; ">
          <img src="assets/images/Group 15.png" alt="figure" style="max-width: 300; ">
        </div>
      </main>
    </div>
    <script src="js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/fcc11c67f1.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
